/* ====== RESET STYLES ====== */
ul, ol {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {cursor: pointer;}
body {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

/* ====== TITLE STYLES */
.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
/* ====== HEADER STYLES ====== */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-accent {
    color: #2e2f42;
}
.menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.menu-item:hover, 
.menu-item:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
}
.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.address-link:hover,
.address-link:focus {
    color: #434455;
}

/* ====== HERO SECTION STYLES ====== */
.hero-section {
    background-color: #2e2f42;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}
.hero-button {
    background: #4d5ae5;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.hero-button:focus,
.hero-button:hover {
    background-color: #404bbf;
}
/* ====== BENEFITS SECTION STYLES ====== */
/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1ps;
    border: 0:
    padding: 0;
    white-space: nowrap;
    clip-path: inset (100%);
    clip: rect (0 0 0 0);
    overflow: hidden;
} */
.text {
    line-height: 1.5;
}
/* ======= OUR TEAM SECTION STYLES ====== */

.team-section {
    background-color: #F4F4FD;
}
.team-item {
    background-color: #FFFFFF;
}
/* ====== OUR PORTFOLIO SETION STYLES ====== */


/* ====== FOOTER SECTION ====== */

.footer-section {
    background-color: #2e2f42;
}
.logo-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-span-footer {
    color: f4f4fd;
}
.footer-text {
    color: #f4f4fd;
}