/* селектор елементу найчастіше застосовується для 
оформлення всіх тегів одного типу на сторінці,
наприклад,
якщо у всіх посиланнях у документі потрібно 
прибрати підкреслення.*/

body {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 700;
    
}
